In [3]:
import pandas as pd
df=pd.read_csv("final(2).csv")

In [4]:
df.head()

,Time,Protcol,Flag,Family,Clusters,SeddAddress,ExpAddress,BTC,USD,Netflow_Bytes,IPaddress,Threats,Port,Prediction
0,50,TCP,A,WannaCry,1,1DA11mPS,1BonuSr7,1,500,5,A,Bonet,5061,SS
1,40,TCP,A,WannaCry,1,1DA11mPS,1BonuSr7,1,504,8,A,Bonet,5061,SS
2,30,TCP,A,WannaCry,1,1DA11mPS,1BonuSr7,1,508,7,A,Bonet,5061,SS
3,20,TCP,A,WannaCry,1,1DA11mPS,1BonuSr7,1,512,15,A,Bonet,5061,SS
4,57,TCP,A,WannaCry,1,1DA11mPS,1BonuSr7,1,516,9,A,Bonet,5061,SS

In [5]:
df.isnull()

,Time,Protcol,Flag,Family,Clusters,SeddAddress,ExpAddress,BTC,USD,Netflow_Bytes,IPaddress,Threats,Port,Prediction
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149038,False,False,False,False,False,False,False,False,False,False,False,False,False,False
149039,False,False,False,False,False,False,False,False,False,False,False,False,False,False
149040,False,False,False,False,False,False,False,False,False,False,False,False,False,False
149041,False,False,False,False,False,False,False,False,False,False,False,False,False,False
149042,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [6]:
df.describe()

,Time,Clusters,BTC,USD,Netflow_Bytes,Port
count,149043.000000,149043.000000,149043.000000,149043.000000,149043.000000,149043.000000
mean,21.466979,2.349295,30.554605,14863.441114,2021.278651,5063.949967
std,15.883598,2.828759,101.447102,26849.434659,2271.420987,2.696011
min,-10.000000,1.000000,1.000000,1.000000,1.000000,5061.000000
25%,8.000000,1.000000,8.000000,512.000000,353.000000,5062.000000
50%,19.000000,1.000000,13.000000,4321.000000,1031.000000,5062.000000
75%,32.000000,2.000000,22.000000,18454.000000,3188.000000,5066.000000
max,96.000000,12.000000,1980.000000,126379.000000,12360.000000,5068.000000

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149043 entries, 0 to 149042
Data columns (total 14 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Time           149043 non-null  int64
 1   Protcol        149043 non-null  object
 2   Flag           149043 non-null  object
 3   Family         149043 non-null  object
 4   Clusters       149043 non-null  int64
 5   SeddAddress    149043 non-null  object
 6   ExpAddress     149043 non-null  object
 7   BTC            149043 non-null  int64
 8   USD            149043 non-null  int64
 9   Netflow_Bytes  149043 non-null  int64
 10  IPaddress      149043 non-null  object
 11  Threats        149043 non-null  object
 12  Port           149043 non-null  int64
 13  Prediction     149043 non-null  object
dtypes: int64(6), object(8)
memory usage: 15.9+ MB

In [8]:
from sklearn.preprocessing import MinMaxScaler
L=MinMaxScaler()
df['Time']=L.fit_transform(df[['Time']])
df['Netflow_Bytes']=L.fit_transform(df[['Netflow_Bytes']])

In [9]:
from sklearn.preprocessing import LabelEncoder
M=LabelEncoder()
df['Protcol']=M.fit_transform(df['Protcol'])
df['Flag']=M.fit_transform(df['Flag'])
df['Family']=M.fit_transform(df['Family'])
df['SeddAddress']=M.fit_transform(df['SeddAddress'])
df['ExpAddress']=M.fit_transform(df['ExpAddress'])
df['IPaddress']=M.fit_transform(df['IPaddress'])
df['Threats']=M.fit_transform(df['Threats'])

In [10]:
from sklearn.model_selection import train_test_split
X=df.iloc[:,0:13]
Y=df.iloc[:,13]
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.25,random_state=42)
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149043 entries, 0 to 149042
Data columns (total 13 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Time           149043 non-null  float64
 1   Protcol        149043 non-null  int32
 2   Flag           149043 non-null  int32
 3   Family         149043 non-null  int32
 4   Clusters       149043 non-null  int64
 5   SeddAddress    149043 non-null  int32
 6   ExpAddress     149043 non-null  int32
 7   BTC            149043 non-null  int64
 8   USD            149043 non-null  int64
 9   Netflow_Bytes  149043 non-null  float64
 10  IPaddress      149043 non-null  int32
 11  Threats        149043 non-null  int32
 12  Port           149043 non-null  int64
dtypes: float64(2), int32(7), int64(4)
memory usage: 10.8 MB

In [11]:
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score
model=GaussianNB()
model.fit(X_train,Y_train)
print(accuracy_score(Y_test,model.predict(X_test)))

0.7246450712541262

In [12]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
rfc = RandomForestClassifier(n_estimators=100, random_state=42)
rfc.fit(X_train, Y_train)
Y_pred = rfc.predict(X_test)
accuracy = accuracy_score(Y_test, Y_pred)
print(accuracy)

0.9936126244598911

In [ ]:
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score
svc = SVC(kernel='linear')
svc.fit(X_train, Y_train)
Y_pred = svc.predict(X_test)
accuracy = accuracy_score(Y_test, Y_pred)
print(accuracy)